<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCL9rv7CBLMe_XjJqypjRIkFMvGG_jTk20</string>
	<key>GCM_SENDER_ID</key>
	<string>324908519773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobfinder</string>
	<key>PROJECT_ID</key>
	<string>jobfinder-5842c</string>
	<key>STORAGE_BUCKET</key>
	<string>jobfinder-5842c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324908519773:ios:7d1caec12ee3d9e06c58b4</string>
</dict>
</plist>